# Pandas
* provide two convenient data structures for storing and manipulating data--**Series** and **DataFrame**
    * Seires is similar to one-dimension array
    * Pandas is similar to representing a matrix or a spreadsheet table

In [9]:
import pandas as pd
import numpy as np

## Series
* 1차원 데이터
* list, numpy array, dictionary 로 생성 가능
* numpy 의 함수기능과 거의 유사

In [6]:
s = pd.Series([3.1, 2.4, -1.7, 0.2, -2.9, 4.5])
print(s)

0    3.1
1    2.4
2   -1.7
3    0.2
4   -2.9
5    4.5
dtype: float64

* value
* Index
* mean

In [8]:
print("Value= ", s.values)
print("Index= ", s.index)
print("mean= ", s.mean())

Value=  [ 3.1  2.4 -1.7  0.2 -2.9  4.5]
Index=  RangeIndex(start=0, stop=6, step=1)
mean=  0.9333333333333332

In [14]:
s2 = pd.Series(np.random.randn(6))
print(s2)
print("Values= ", s2.values)
print("Index= ", s2.index)
print("mean= ", s2.mean())

0    0.244615
1    0.312537
2    0.378685
3    1.502895
4    0.524542
5   -1.101552
dtype: float64
Values=  [ 0.24461459  0.31253709  0.37868479  1.50289522  0.52454168 -1.10155188]
Index=  RangeIndex(start=0, stop=6, step=1)
mean=  0.3102869159495346

Series 에 index 부여
* 위치정보에 labeling

In [19]:
s3 = pd.Series([1.2, 2.5, -2.2, 3.1, -0.8, -3.2],
              index=['Jan1', 'Jan2', 'Jan3', 'Jan4', 'Jan5', 'Jan6'])
print(s3)
print("Values= ", s3.values)
print("Index= ", s3.index)

Jan1    1.2
Jan2    2.5
Jan3   -2.2
Jan4    3.1
Jan5   -0.8
Jan6   -3.2
dtype: float64
Values=  [ 1.2  2.5 -2.2  3.1 -0.8 -3.2]
Index=  Index(['Jan1', 'Jan2', 'Jan3', 'Jan4', 'Jan5', 'Jan6'], dtype='object')

Series with Dictionary

In [22]:
capitals = {'MI': 'Lansing', 'CA': 'Sacramento', 'TX': 'Austin', 'MN': 'St Paul'}

s4 = pd.Series(capitals)
print(s4)
print('Values= ', s4.values)
print('Index= ', s4.index)

MI       Lansing
CA    Sacramento
TX        Austin
MN       St Paul
dtype: object
Values=  ['Lansing' 'Sacramento' 'Austin' 'St Paul']
Index=  Index(['MI', 'CA', 'TX', 'MN'], dtype='object')

access element of a Series
* iloc
* loc

In [24]:
s3 = pd.Series([1.2, 2.5, -2.2, 3.1, -0.8, -3.2],
              index=['Jan1', 'Jan2', 'Jan3', 'Jan4', 'Jan5', 'Jan6'])
print(s3)

Jan1    1.2
Jan2    2.5
Jan3   -2.2
Jan4    3.1
Jan5   -0.8
Jan6   -3.2
dtype: float64

In [32]:
print(s3.iloc[2])
print(s3[2])

-2.2
-2.2

In [35]:
print(s3.iloc[1:3])

Jan2    2.5
Jan3   -2.2
dtype: float64

In [37]:
print(s3['Jan3'])
print(s3.loc['Jan3'])

-2.2
-2.2

* shape
* size

In [39]:
print('shape = ', s3.shape)
print('size= ', s3.size)

shape =  (6,)
size=  6

* filter

In [40]:
print(s3[s3>0])

Jan1    1.2
Jan2    2.5
Jan4    3.1
dtype: float64

* scalar operation

**broadcasting**

In [42]:
print(s3 + 4)
print()
print(s3 / 4)

Jan1    5.2
Jan2    6.5
Jan3    1.8
Jan4    7.1
Jan5    3.2
Jan6    0.8
dtype: float64

Jan1    0.300
Jan2    0.625
Jan3   -0.550
Jan4    0.775
Jan5   -0.200
Jan6   -0.800
dtype: float64

In [44]:
print(np.log(s3+4))

Jan1    1.648659
Jan2    1.871802
Jan3    0.587787
Jan4    1.960095
Jan5    1.163151
Jan6   -0.223144
dtype: float64